


/**Movil**/

@media (max-width: 767px) {
  .desktop {
      display: none;
  }
  .resolution {
    width: 99%;
    text-align: center;
  }

  
}
/**Desk**/

@media (min-width: 991px) {
  .movil {
      display: none;
  }
}